<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' />
    <title>{{page.title}}</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <link href='https://www.mapbox.com/base/latest/base.css' rel='stylesheet' />

    <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="https://cdn.jsdelivr.net/npm/@turf/turf@5/turf.min.js"></script>
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v2.3.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v2.3.0/mapbox-gl.css' rel='stylesheet' />
    <script src='../js/util.js'></script>

    <style>
        body { margin:0; padding:0; overflow:hidden;}
        #map { position:absolute; top:0; bottom:0; left:400px; right:0px;}
        #sidebar{
            width:400px;
            overflow:hidden;
            top: 0px;
            bottom: 0px;
            position:absolute;
        }
        #menu {
          position: relative;
          left: 400px;
          padding: 10px;
          background: #fff;
          width: 240px;
          font-family: 'Open Sans', sans-serif;
        }
        input {
            vertical-align: inherit
        }

        .half {
            height:50%;
            overflow:scroll;
        }

        .forty {
          height: 40%;
          overflow: scroll;
        }
        .sixty {
          height: 60%;
          overflow: scroll;
        }

        .title {
            padding:10px;
            text-transform:uppercase;
            margin-bottom:0px;
        }
        .count {
          float: right;
        }
        .project_item {
          cursor: default;
        }
    </style>
</head>
<body>
<div id='map'></div>
<div id='menu'>
    <input id='streets' type='radio' name='rtoggle' checked value='streets'>
    <label for='streets'>streets</label>
    <input id='satellite-streets' type='radio' name='rtoggle' value='satellite-streets'>
    <label for='satellite-streets'>satellite</label>
    <input id='3d' type='checkbox' name='rtoggle' value='3d'>
    <label for='poi'>3D</label>
</div>

<div id='sidebar' class='keyline-right'>
    <div class='title'>{{page.title}}
        <img style="float:right" height="20px" src="../img/mklogo-small-transparent.png"/>
    </div>
    <div class='title fill-denim dark'>Filter by <span class='count' id="feature-count"></span></div>
    <div class='forty keyline-bottom'>
        <div class='filters margin0'>
        </div>
    </div>
    <div class='title fill-denim dark'>Details</div>
    <div class='sixty'>
        <div class='list'>
        </div>
    </div>
</div>

<script>

<!-- MAP AND UI INITIALIZATION -->

mapboxgl.accessToken = 'pk.eyJ1IjoibWlrZWxtYXJvbiIsImEiOiJjaWZlY25lZGQ2cTJjc2trbmdiZDdjYjllIn0.Wx1n0X7aeCQyDTnK6_mrGw';

var osm_style = {
  "version": 8,
  "sprite": "mapbox://sprites/mapbox/streets-v9",
  "glyphs": "mapbox://fonts/mapbox/{fontstack}/{range}.pbf",
  "sources": {
    "openstreetmap-tiles": {
      "type": "raster",
      "tiles": [
        "https://a.tile.openstreetmap.org/{z}/{x}/{y}.png",
        "https://b.tile.openstreetmap.org/{z}/{x}/{y}.png",
        "https://c.tile.openstreetmap.org/{z}/{x}/{y}.png"
      ],
      "tileSize": 256
    },
    "satellite": {
      "type": "raster",
      "url": "mapbox://mapbox.satellite",
      "tileSize": 256
    }
  },
  "layers": [{
      "id": "openstreetmap-layer",
      "type": "raster",
      "source": "openstreetmap-tiles",
      "minzoom": 0,
      "maxzoom": 18
    }, {
      "id": "satellite-layer",
      "type": "raster",
      "source": "satellite",
      "minzoom": 0,
      "maxzoom": 18,
      "layout": {
        "visibility": "none"
    }
  }]
};

var map = new mapboxgl.Map({
    container: 'map', // container id
    style: osm_style,
    center: [{{page.lon}}, {{page.lat}}], // starting position
    zoom: {{page.zoom}}, // starting zoom
    hash: true
});

map.addControl(new mapboxgl.NavigationControl());

function switchLayer(layer) {
    var layerId = layer.target.id;
    if (layerId == "streets") {
      map.setLayoutProperty("satellite-layer", "visibility", "none");
    } else {
      map.setLayoutProperty("satellite-layer", "visibility", "visible");
    }
}

function switch3D() {

  if (! map.getSource('mapbox-dem')) {
    map.addSource('mapbox-dem', {
      'type': 'raster-dem',
      'url': 'mapbox://mapbox.mapbox-terrain-dem-v1',
      'tileSize': 512,
      'maxzoom': 14
    });
    map.addLayer({
      'id': 'sky',
      'type': 'sky',
      'paint': {
        'sky-type': 'atmosphere',
        'sky-atmosphere-sun': [0.0, 0.0],
        'sky-atmosphere-sun-intensity': 15
      }
    });
  }
  if (map.getTerrain()) {
    map.setTerrain();
  } else {
    map.setTerrain({ 'source': 'mapbox-dem', 'exaggeration': 5 });
  }

}

var layerList = document.getElementById('menu');
var inputs = layerList.getElementsByTagName('input');

inputs[0].onclick = switchLayer;
inputs[1].onclick = switchLayer;
inputs[2].onclick = switch3D;

var selectedFeatureId;

function deselect() {
  if (selectedFeatureId) {
    map.setFeatureState({source: 'features', id: selectedFeatureId}, { selected: false});
  }
}

map.on('render', function() {
  if (map.getLayer('features-layer')) {
    var features = map.queryRenderedFeatures({ layers: ['features-layer'] });
    d3.select('#feature-count')
      .text( features.length + " features visible")
  }
});

<!-- LOAD Features -->
map.on('style.load', function() {
  loadFeatures();
});

var features;
function loadFeatures() {

  getJSON({url:'{{page.features}}'}, function(err,response){
    features = response;
    map.addSource('features', {
      'type': 'geojson',
      'data': features,
      'generateId': true
    });
    addFeatureLayer();

  });
};

function addFeatureLayer() {
   map.addLayer({
    'id': 'features-layer',
    'type': 'symbol',
    'source': 'features',
    "filter": [
      "==",
      "$type",
      "Point"
    ],
    'layout': {
      "icon-allow-overlap": true,
      'text-allow-overlap': true,
      'visibility': 'visible',
      'text-field': "___",
      'icon-image': [
        'match',
          ['get', 'Category'],
          'trade', 'shop-15',
          'circle-15'
      ]
    },
    'paint': {
      'text-opacity': [
        'case',
          ["boolean", ["feature-state", 'selected'], false],
                1,
                0
      ]
    }
  });


  map.on('click', 'features-layer', handleFeatureClick);

  buildFilter();
  applyFilter();
}

function filterReports(filterAttributes, excludedValues) {
  var filteredResult = features.features;

  // iterate through attributes to prune reports recursively
  filterAttributes.forEach(function(Attribute, attributeIndex){

  //if there are no excluded values for this attribute, skip it
  if (excludedValues[attributeIndex].length===0) return;
  filteredResult =
    filteredResult.filter(function(project){
      var val = project.properties[Attribute] || "undefined";
      return excludedValues[attributeIndex].indexOf(val) === -1;
    });
  });

  return {'type':'FeatureCollection', 'features': filteredResult};
}

var attributesToFilter = "{{page.attributesToFilter}}".split(',');

function applyFilter(){
  //generate list of all unchecked boxes, in same order as the list attributesToFilter
  var exclusions = [];
  for (var i = 0; i < attributesToFilter.length; i++) exclusions.push([]);

  var unchecked =
    d3.selectAll('input:not(:checked)')
      .each(function(){
        var filterIndex = d3.select(this).attr('filterIndex');
          if (filterIndex != undefined)
            exclusions[parseInt(filterIndex)].push(getSecondPart(d3.select(this).attr('id')));
      });

  map.getSource('features').setData( filterReports(attributesToFilter, exclusions) );
}

function buildFilter() {
  var filterValues = [];
  // get all extant values for each attribute, to populate filter UI
  attributesToFilter.forEach(function(attribute, index){
    var attributeValues = [];
    features.features.forEach(function(project){
      var val = project.properties[attribute]; //.toLowerCase().replace(/_/g," ");
      if (val == undefined) val = "undefined";
      if (val !== undefined && attributeValues.indexOf(val)==-1) attributeValues.push(val);
    });

    filterValues.push(attributeValues);
  });

  var filter = d3.select('.filters')
    .selectAll('.filter')
    .data(filterValues)
    .enter()
    .append('div')
    .attr('class', 'filter space-top2');

  filter
    .append('h3')
    .attr('class', 'space-bottom0')
    .text(function(d,i){return cleanLabel(attributesToFilter[i])});

  filter
    .each(function(d,i){
      var filterSection = d3.select(this);

      d.forEach(function(value){
        // checkboxes
        var tick = filterSection
          .append('div')
          .attr('class', 'small quiet inline space-right0');

        tick
          .append('input')
          .attr('type', 'checkbox')
          .attr('id', i+' - '+value) // inserting i to disambiguate the Others in multiple categories
          .attr('filterIndex', i)
          .attr('checked', 'checked')
          .on('change', applyFilter);

          // labels for checkboxes
        tick
          .append('label')
          .attr('class', 'small quiet')
          .attr('for', i+' - '+value)
          .text(cleanLabel(value));

        });
      });
}

function handleFeatureClick(e) {
  deselect();
  if (e.features.length > 1) { displayFeatureList(e.features); return; }
  displayFeature(e.features[0]);
}

function handleProjectItemClick(id) {
  const feature = map.queryRenderedFeatures({
    layers:['features-layer'],
    filter: ["==", ["get", "id"], id]
  });
  displayFeature(feature[0]);
}

function displayFeatureList(features) {
  d3.select('.entry').remove();

  d3.select('.list')
    .append('div')
    .attr('class', 'entry pad2 keyline-top')
    .html(function(d){
      var text = "";
      for (p in features) {
        text += "<a class='project_item' onclick='handleProjectItemClick(\"" + features[p].properties['id'] + "\")'>" + (features[p].properties['name'] || "feature") + "</a><br/>";
      }
      return text;
    });
}

var attributesToDisplay = "{{page.attributesToDisplay}}".split(',');

function displayFeature(p) {
  d3.select('.entry').remove();

  selectedFeatureId = p.id;
  map.setFeatureState({source: 'features', id: selectedFeatureId}, { selected: true});

  d3.select('.list')
    .append('div')
    .attr('class', 'entry pad2 keyline-top')
    .html(function(d){
      var display_text = "<table style='border-spacing: 10px'>";

      for (attribute in attributesToDisplay) {
        if (attributesToDisplay[attribute] == "image") {
          value = "<a target='_blank' href='" + p.properties[ attributesToDisplay[attribute] ] + "'><img src='" + p.properties[ attributesToDisplay[attribute] ] + "'/></a>";
        } else {
          value = p.properties[ attributesToDisplay[attribute] ];
        }
        display_text = display_text + "<tr><td>" + attributesToDisplay[attribute] + "</td><td><strong>" + value + "</strong></td></tr>";
      }

      display_text = display_text + "</table>";
      return display_text;

      });
}

</script>

</body>
</html>
