<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' />
    <title>{{page.title}}</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <link href='https://www.mapbox.com/base/latest/base.css' rel='stylesheet' />

    <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="https://cdn.jsdelivr.net/npm/@turf/turf@5/turf.min.js"></script>
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.47.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.47.0/mapbox-gl.css' rel='stylesheet' />
    <script src='../js/util.js'></script>

    <style>
        body { margin:0; padding:0; overflow:hidden;}
        #map { position:absolute; top:0; bottom:0; left:400px; right:0px;}
        #sidebar{
            width:400px;
            overflow:hidden;
            top: 0px;
            bottom: 0px;
            position:absolute;
        }
        #menu {
          position: relative;
          left: 400px;
          padding: 10px;
          background: #fff;
          width: 240px;
          font-family: 'Open Sans', sans-serif;
        }
        input {
            vertical-align: inherit
        }

        .half {
            height:50%;
            overflow:scroll;
        }

        .forty {
          height: 40%;
          overflow: scroll;
        }
        .sixty {
          height: 60%;
          overflow: scroll;
        }

        .title {
            padding:10px;
            text-transform:uppercase;
            margin-bottom:0px;
        }
        .count {
          float: right;
        }
        .project_item {
          cursor: default;
        }
    </style>
</head>
<body>
<div id='map'></div>
<div id='menu'>
    <input id='streets' type='radio' name='rtoggle' checked value='streets'>
    <label for='streets'>streets</label>
    <input id='satellite-streets' type='radio' name='rtoggle' value='satellite-streets'>
    <label for='satellite-streets'>satellite</label>
    <input id='poi' type='checkbox' name='rtoggle' checked value='poi'>
    <label for='poi'>POI</label>
</div>

<div id='sidebar' class='keyline-right'>
    <div class='title'>{{page.title}}
        <img style="float:right" height="20px" src="../img/mklogo-small-transparent.png"/>
    </div>
    <div class='title fill-denim dark'>Filter by <span class='count' id="project-count"></span></div>
    <div class='forty keyline-bottom'>
        <div class='filters margin0'>
        </div>
    </div>
    <div class='title fill-denim dark'>Details</div>
    <div class='sixty'>
        <div class='list'>
        </div>
    </div>
</div>

<script>

<!-- MAP AND UI INITIALIZATION -->

mapboxgl.accessToken = 'pk.eyJ1IjoibWlrZWxtYXJvbiIsImEiOiJjaWZlY25lZGQ2cTJjc2trbmdiZDdjYjllIn0.Wx1n0X7aeCQyDTnK6_mrGw';

var osm_style = {
  "version": 8,
  "sprite": "mapbox://sprites/mapbox/streets-v9",
  "glyphs": "mapbox://fonts/mapbox/{fontstack}/{range}.pbf",
  "sources": {
    "openstreetmap-tiles": {
      "type": "raster",
      "tiles": [
        "https://a.tile.openstreetmap.org/{z}/{x}/{y}.png",
        "https://b.tile.openstreetmap.org/{z}/{x}/{y}.png",
        "https://c.tile.openstreetmap.org/{z}/{x}/{y}.png"
      ],
      "tileSize": 256
    }
  },
  "layers": [{
    "id": "openstreetmap-layer",
    "type": "raster",
    "source": "openstreetmap-tiles",
    "minzoom": 0,
    "maxzoom": 18
  }]
};

var map = new mapboxgl.Map({
    container: 'map', // container id
    style: osm_style,
    center: [{{page.lon}}, {{page.lat}}], // starting position
    zoom: {{page.zoom}}, // starting zoom
    hash: true
});

map.addControl(new mapboxgl.NavigationControl());

function switchLayer(layer) {
    var layerId = layer.target.id;
    if (layerId == "streets") {
      map.setStyle(osm_style);
    } else {
      map.setStyle('mapbox://styles/mapbox/' + layerId + '-v9');
    }
}

function switchPOI() {
  var visibility = map.getLayoutProperty('poi-layer', 'visibility');

  if (visibility === 'visible') {
    map.setLayoutProperty('poi-layer', 'visibility', 'none');
  } else {
    map.setLayoutProperty('poi-layer', 'visibility', 'visible');
  }
}

var layerList = document.getElementById('menu');
var inputs = layerList.getElementsByTagName('input');

inputs[0].onclick = switchLayer;
inputs[1].onclick = switchLayer;
inputs[2].onclick = switchPOI;

var selectedPoiId;
var selectedProjectId;

function deselect() {
  if (selectedProjectId) {
    map.setFeatureState({source: 'projects', id: selectedProjectId}, { selected: false});
  }
  if (selectedPoiId) {
    map.setFeatureState({source: 'poi', id: selectedPoiId}, { selected: false});
  }
}

map.on('render', function() {
  if (map.getLayer('projects-layer')) {
    var features = map.queryRenderedFeatures({ layers: ['projects-layer'] });
    d3.select('#project-count')
      .text( features.length + " projects visible")
  }
});

<!-- LOAD BOUNDARY -->
map.on('style.load', function() {
  loadPOI();
});

function loadBoundary() {
  if (map.getSource('boundary')) {
    addBoundaryLayer();
    return;
  }

  getJSON({url:'{{page.boundary}}'}, function(err,boundary){
    map.addSource('boundary', {
      'type': 'geojson',
      'data': boundary
    });
    addBoundaryLayer();
    loadPOI(); /* load POI after boundary, because we filter poi to boundary interior */
  });
}

function addBoundaryLayer() {
  map.addLayer({
    'id': 'boundary-layer',
    'type': 'line',
    'source': 'boundary',
    "filter": [
      "==",
      "$type",
      "Polygon"
    ],
    "layout": {},
    "paint": {
      "line-color": "hsl(301, 44%, 71%)",
      "line-width": 3
    }
  });
  map.addLayer({
    "id": "boundary-text",
    "type": "symbol",
    "source": "boundary",
    "filter": [
      "==",
      "$type",
      "Polygon"
    ],
    "layout": {
      "visibility": "visible",
      "symbol-placement": "line",
      "text-rotation-alignment": "map",
      "text-offset": [
        0,
        1
      ],
      "text-field": [
        "to-string",
        [
          "get",
          "name"
        ]
      ],
      "text-font": [
        "Open Sans Italic",
        "Arial Unicode MS Regular"
      ]
    },
    "paint": {
      "text-opacity": 1
    }
  });
}

<!-- LOAD POI -->

function loadPOI() {
  if (map.getSource('poi')) {
    addPoiLayer();
    return;
  }

  getJSON({url:'{{page.features}}'}, function(err,result){
    //var ptsWithin = turf.pointsWithinPolygon(result, map.getSource('boundary')._data);
    map.addSource('poi', {
      'type': 'geojson',
        'data': result
    });
    addPoiLayer();
    //loadProjects(); /* load projects after POI for proper z-level placement */
  });
}

function addPoiLayer() {
  var visibility = "none";
  if (inputs[2].checked) visibility = "visible";

  map.addLayer({
    'id': 'poi-layer',
    'type': 'circle',
    'source': 'poi',
    'layout': {
      'visibility': visibility
    },
    'paint': {
      'circle-radius':  [
        'case',
          ["boolean", ["feature-state", 'selected'], false],
                7.5,
                5
      ],
      'circle-color': '#3377ff'
    },
  });

  map.on('click', 'poi-layer', handlePOIClick);
}

function handlePOIClick(e) {
    deselect();
    selectedPoiId = e.features[0].id;
    map.setFeatureState({source: 'poi', id: selectedPoiId}, { selected: true});

    d3.select('.entry').remove();

    d3.select('.list')
      .append('div')
      .attr('class', 'entry pad2 keyline-top')
      .html(function(d){
        var poi_text = '';
        for (attribute in e.features[0].properties) {
          if (! ["is_in", "osm:id", "wikidata", "created_by"].includes(attribute) && ! attribute.startsWith("image")) {
            poi_text = poi_text + "<strong>" + attribute + "</strong>: " + cleanLabel(e.features[0].properties[attribute]) + "<br/>";
          }
        }
        var image = e.features[0].properties.image || e.features[0].properties['image:project'] || e.features[0].properties['image:pointofinterest'];

        poi_text = poi_text + "<a target='_blank_' href='https://www.openstreetmap.org/node/" + e.features[0].properties['osm:id'] + "'>Open in OpenStreetMap</a>" + (image ? "<img src='" + image + "'/>" : "");
        return poi_text;
      });
}

<!-- LOAD PROJECTS -->

var projects;
function loadProjects() {
  if (map.getSource('projects')) {
    addProjectLayer();
    return;
  }
  getJSON({url:'{{page.projects}}'}, function(err,response){
    var result = cleanCategories(response);
    projects = {'type': 'FeatureCollection', 'features': result};
    map.addSource('projects', {
      'type': 'geojson',
      'data': projects
    });
    addProjectLayer();

  });
};

function cleanCategories(response) {
  var result = [];
  var cleanCategory = {
    'baringo': {
      'HS': 'Health Services',
    },
    'west_pokot': {
      'HS': 'Health and sanitation',
    },
    'makueni': {
    },
    'default': {
      'EDU': 'Education and Vocational Training',
      'CA': 'County Assembly',
      'GO': "The Governor's Office",
      'FIEC': 'County Finance and Economic Planning',
      'AGLF': 'Agriculture, Livestock, and Fisheries Management',
      'Agriculture, Livestock and Fisheries': 'Agriculture, Livestock, and Fisheries Management',
      'WI': 'Water and Irrigation',
      'ALF': 'Agriculture, Livestock, and Fisheries Management',
      'SCG': 'Sports, Culture, Gender and Social services',
      'LHUD': 'Lands, Housing and Urban Development',
      'RTEPW': 'Roads, Transport, Energy and Public Works',
      'Transport, Public Works and Infrasctructure': 'Roads, Transport, Energy and Public Works',
      'Environment, Natural Resource, Tourism and Wildlife Management': 'Tourism, Wildlife Management, Natural Resources and Mining',
      'TWNRM': 'Tourism, Wildlife Management, Natural Resources and Mining',
      'TCI': 'Trade, Cooperatives and Industrialization',
      'RPWTI': 'Roads, public works, Transport and Infrastructure',
      'LHPPUD': 'Lands, Housing, physical planning and urban Development',
      'ETT': 'Education and Technical Training',
      'PSIDU': 'Public Service,ICT and Devolved Units',
      'TIICD': 'Trade Industrialization, Investment and Cooperative Development',
      'YSTGSS': 'Youth,Sports, Tourism,Gender and Social Services',
      'FEP': 'Finance and Economic Planning',
      'PEAGRI': 'Pastoral Economy, Agriculture and Irrigation',
      'WENR': 'Water Environment and Natural Resources',
      'OG': 'Office of the Governor',
      'TIICD': 'Trade Industrialization, Investment and Cooperative Development'
    }
  };
  response.features.forEach(function(project){
    project.properties['Category'] = (
        cleanCategory['{{page.county}}'][ project.properties['Category'] ] ||
        cleanCategory['default'][ project.properties['Category'] ] ||
        project.properties['Category']
      ).toLowerCase().replace(/_/g," ");
    project.properties['In_your_opinion_is_the_project_quality'] = project.properties['In_your_opinion_is_the_project_quality'].toLowerCase().replace(/_/g," ");
    project.properties['What_is_the_project_s_apparent_status'] = project.properties['What_is_the_project_s_apparent_status'].toLowerCase().replace(/_/g," ");
    result.push(project);
  });
  return result;
}

function addProjectLayer() {
  map.addLayer({
   'id': 'projects-ways-layer',
   'type': 'line',
   'source': 'projects',
   "filter": [
     "any",
        ["==",
         "$type",
         "LineString"],
        ["==",
          "$type",
          "Polygon"]
   ],
   'layout': {
     'line-cap': 'round',
     'line-join': 'round',
     'visibility': 'visible'
   },
   'paint': {
     'line-width': 4,
     'line-color': [
         'case',
           ["boolean", ["feature-state", 'selected'], false],
                 "#ff0000",
                 "#000000"
       ]
     }
   });

   map.addLayer({
    'id': 'projects-layer',
    'type': 'symbol',
    'source': 'projects',
    "filter": [
      "==",
      "$type",
      "Point"
    ],
    'layout': {
      "icon-allow-overlap": true,
      'text-allow-overlap': true,
      'visibility': 'visible',
      'text-field': "___",
      'icon-image': [
        'match',
          ['get', 'Category'],
          'trade', 'shop-15',
          'trade industrialization, investment and cooperative development', 'shop-15',
          'trade, cooperatives and industrialization', 'shop-15',
          'transport', 'bus-15',
          'transport, public works and infrasctructure', 'bus-15',
          'roads, public works, transport and infrastructure', 'bus-15',
          'roads, transport, energy and public works', 'bus-15',
          'agriculture', 'garden-15',
          'agriculture, livestock and fisheries', 'garden-15',
          'agriculture, livestock, and fisheries management', 'garden-15',
          'pastoral economy, agriculture and irrigation', 'garden-15',
          'water irrigati', 'drinking-water-15',
          'water and irrigation', 'drinking-water-15',
          'health', 'hospital-15',
          'health services', 'hospital-15',
          'health and sanitation', 'hospital-15',
          'education', 'college-15',
          'education, sports, culture and social services', 'college-15',
          'education and technical training', 'college-15',
          'education and vocational training', 'college-15',
          'environment', 'park-15',
          'environment, natural resource, tourism and wildlife management', 'park-15',
          'tourism, wildlife management, natural resources and mining', 'park-15',
          'water environment and natural resources', 'park-15',
          'devolution', 'townhall-15',
          'county assembly', 'townhall-15',
          'public service,ict and devolved units', 'townhall-15',
          'devolution, public service management and administration, youths and ict', 'townhall-15',
          'office of the governor', 'townhall-15',
          'the governor\'s office', 'townhall-15',
          'finance', 'bank-15',
          'finance and economic planning', 'bank-15',
          'county finance and economic planning', 'bank-15',
          'gender', 'triangle-15',
          'lands, housing, physical planning and urban development', 'building-15',
          'lands, housing and urban development', 'building-15',
          'youth,sports, tourism,gender and social services', 'triangle-15',
          'sports, culture, gender and social services', 'triangle-15',
          'circle-15'
      ]
    },
    'paint': {
      'text-opacity': [
        'case',
          ["boolean", ["feature-state", 'selected'], false],
                1,
                0
      ]
    }
  });


   map.on('click', 'projects-layer', handleProjectClick);
   map.on('click', 'projects-ways-layer', handleProjectClick);

   buildFilter();
   applyFilter();
}

function filterReports(filterAttributes, excludedValues) {
  var filteredResult = projects.features;

  // iterate through attributes to prune reports recursively
  filterAttributes.forEach(function(Attribute, attributeIndex){

  //if there are no excluded values for this attribute, skip it
  if (excludedValues[attributeIndex].length===0) return;
  filteredResult =
    filteredResult.filter(function(project){
      return excludedValues[attributeIndex].indexOf(project.properties[Attribute]) === -1
    });
  });

  return {'type':'FeatureCollection', 'features': filteredResult};
}

var attributesToFilter = ['Category', 'What_is_the_project_s_apparent_status', 'In_your_opinion_is_the_project_quality'];

function applyFilter(){
  //generate list of all unchecked boxes, in same order as the list attributesToFilter
  var exclusions = [[], [],[],[],[],[]];
  var unchecked =
    d3.selectAll('input:not(:checked)')
      .each(function(){
        var filterIndex = d3.select(this).attr('filterIndex');
          if (filterIndex != undefined)
            exclusions[filterIndex].push(getSecondPart(d3.select(this).attr('id')));
      });

  map.getSource('projects').setData( filterReports(attributesToFilter, exclusions) );
}

function buildFilter() {
  var filterValues = [];
  // get all extant values for each attribute, to populate filter UI
  attributesToFilter.forEach(function(attribute, index){
    var attributeValues = [];
    projects.features.forEach(function(project){
      var val = project.properties[attribute]; //.toLowerCase().replace(/_/g," ");
      if (attributeValues.indexOf(val)==-1) attributeValues.push(val);
    });

    filterValues.push(attributeValues);
  });

  var filter = d3.select('.filters')
    .selectAll('.filter')
    .data(filterValues)
    .enter()
    .append('div')
    .attr('class', 'filter space-top2');

  filter
    .append('h3')
    .attr('class', 'space-bottom0')
    .text(function(d,i){return cleanLabel(attributesToFilter[i])});

  filter
    .each(function(d,i){
      var filterSection = d3.select(this);

      d.forEach(function(value){
        // checkboxes
        var tick = filterSection
          .append('div')
          .attr('class', 'small quiet inline space-right0');

        tick
          .append('input')
          .attr('type', 'checkbox')
          .attr('id', i+' - '+value) // inserting i to disambiguate the Others in multiple categories
          .attr('filterIndex', i)
          .attr('checked', 'checked')
          .on('change', applyFilter);

          // labels for checkboxes
        tick
          .append('label')
          .attr('class', 'small quiet')
          .attr('for', i+' - '+value)
          .text(cleanLabel(value));

        });
      });
}

function handleProjectClick(e) {
  deselect();
  if (e.features.length > 1) { displayProjectList(e.features); return; }

  displayProject(e.features[0]);

  if (parent) {
    parent.postMessage(e.features[0].properties['wb_pb:id'], "*");
  }
}

function handleProjectItemClick(wb_pb_id) {
  const feature = map.queryRenderedFeatures({
    layers:['projects-layer'],
    filter: ["==", ["get", "wb_pb:id"], wb_pb_id]
  });
  displayProject(feature[0]);
}

function displayProjectList(projects) {
  d3.select('.entry').remove();

  d3.select('.list')
    .append('div')
    .attr('class', 'entry pad2 keyline-top')
    .html(function(d){
      var text = "";
      for (p in projects) {
        text += "<a class='project_item' onclick='handleProjectItemClick(\"" + projects[p].properties['wb_pb:id'] + "\")'>" + projects[p].properties['name'] + "</a> " + projects[p].properties['Project_Description'] + "<p/>";
      }
      return text;
    });
}

function displayProject(p) {
  d3.select('.entry').remove();

  selectedProjectId = p.id;
  map.setFeatureState({source: 'projects', id: selectedProjectId}, { selected: true});

  d3.select('.list')
    .append('div')
    .attr('class', 'entry pad2 keyline-top')
    .html(function(d){
      var poi_text = "<br/>";
      for (attribute in p.properties) {
        if (attribute[0]  != attribute[0].toUpperCase() && ! attribute.startsWith("image") ) {
          poi_text = poi_text + attribute + ": " + p.properties[attribute] + "<br/>";
        }
      }
      var image = p.properties.image || p.properties['image:project'] || p.properties['image:pointofinterest'];
      return "<table style='border-spacing: 10px'>" +
        "<tr><td>Project Name</td><td><strong><a target='_blank_' href='https://www.openstreetmap.org/" + (p.geometry.type == "Point" ? "node/" : "way/") + p.properties['osm:id'] + "'>" + p.properties['name'] + "</a></strong></td></tr>" +
        "<tr><td>Project Description</td><td><strong>" + p.properties['Project_Description'] + "</strong></td></tr>" +
        "<tr><td>Project Status</td><td><strong>" + p.properties['What_is_the_project_s_apparent_status'] + "</strong></td></tr>" +
        "<tr><td>Opinion</td><td><strong>" + p.properties['In_your_opinion_is_the_project_quality'] + "</strong></td></tr>" +
        "<tr><td>Comment</td><td><strong>" + p.properties['Please_add_any_details_about_y'] + "</strong></td></tr>" +
        (p.properties['Budgeted sum'] ?
          "<tr><td>Budget</td><td><strong>" + p.properties['Budgeted sum'] + "</strong></td></tr>" : "") +
        (p.properties['Tender sum'] ?
            "<tr><td>Tender</td><td><strong>" + p.properties['Tender sum'] + "</strong></td></tr>" : "")
        + "<tr><td colspan='2'><img src='" + image + "'/></td></tr></table>";


      });
}

</script>

</body>
</html>
